{{> header}}
{{> navbar}}
<div id="separacion">
</div>
<div id="barra">
    <h5><i class="fas fa-user-plus"></i>&nbsp Registro de nuevo usuario</h5>
</div>
<br>
<div class="container">
    {{> mensaje}}
    <div class="main row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="border: darkblue 2px solid;">
            <div id="espaciado_boton">
                <form action="/crear_us" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Ingrese el nombre de Usuario &nbsp <i class="fas fa-user" style="color: #160F5B;"></i></label>
                        <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="emailHelp"
                            placeholder="Nombre" required='true'>
                        <br>
                        <label>Ingrese la cédula &nbsp <i class="fas fa-id-card" style="color: #160F5B;"></i></label>
                        <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Cédula"
                            required='true'>
                        <br>
                        <label>Ingrese el correo electrónico &nbsp <i class="fas fa-envelope"
                                style="color: #160F5B;"></i></label>
                        <input type="email" class="form-control" id="email" name="correo" aria-describedby="emailHelp"
                            placeholder="ejemplo@hotmail.com" required='true'>
                        <br>
                        <label>Ingrese la contraseña &nbsp<i class="fas fa-key" style="color:#160F5B;"></i></label>
                        <input type="password" class="form-control" id="pwd1" name="passw" required='true'
                            placeholder="Password">
                        <br>
                        <label>Ingrese el Número de teléfono &nbsp <i class="fa fa-mobile"
                                style="color: #160F5B;"></i></label>
                        <input type="tel" class="form-control" id="telf" name="telf" aria-describedby="emailHelp"
                            placeholder="Número teléfono" required='true'>
                        <br>
                        <label>Ingrese Dirección &nbsp <i class="fas fa-home" style="color: #160F5B;"></i></label>
                        <input type="text" class="form-control" id="dir" name="dir" aria-describedby="emailHelp"
                            placeholder="Dirección" required='true'>
                        <br>
                        <label>Tipo de usuario &nbsp<i class="fas fa-id-badge" style="color:#160F5B;"></i></label>
                        <br>
                        <select class="form-control" name="tipoUS" required='true'>
                            <option value="2" selected="2">Contador</option>
                            <option value="1">Administrador</option>
                        </select>
                        <br>
                        <label> Subir una imagen &nbsp<i class="fas fa-image" style="color: #160F5B;"></i></label>
                        <br>
                        <input type="file" class="form-control" name="image" accept="image/png, .jpeg, .jpg, image/gif"
                            value="">
                    </div>
                    <br>
                    <center>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-arrow-left"></i> <a href="/menu_gestionus"> Regresar</a>
                            </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-check-circle"></i> Enviar
                        </button>
                    </center>
                </form>
            </div>
        </div>

    </div>
    <div class="col-md-3">
    </div>
</div>
</div>
<div id="espaciado_boton"></div>
{{> footer}}