{{> header}}
{{> navbar}}
{{> mensaje}}
<script type="text/javascript">
    function calculo_precioVenta() {
        var input = document.getElementById("precio_venta");
        var compra = parseFloat(document.getElementById('precio_compra').value);
        var venta = Math.round(parseFloat(compra + ((compra * 25) / 100)));
        input.setAttribute('value', venta);
    }
</script>

<div id='separacion'></div>
<div id='barra'>
    <h2><i class="fas fa-pencil-alt"></i>&nbsp CREAR PRODUCTO</h2>
</div>
<br><br>
<div class="main row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="/crear_pd" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>Nombre       <i class="fas fa-cart-plus" style="color: #160F5B;"></i></label>
                <input type="text" class="form-control" name="name" id="nombre" placeholder="Nombre" required='true'>
            </div>

            <label>Categoría  <i class="fas fa-object-group" style="color: #160F5B;"></i></label>
            <select id="inputState" class="form-control" name="categ" required='true'>
                <option selected>Escoga una opción</option>
                <option value="1">Colchón</option>
                <option value="2">Almohadas</option>
                <option value="3">Sofa cama</option>
                <option value="4">Complementos</option>
            </select>
            <div class="form-group">
                <br>
                <label>Descripción      <i class="fas fa-file-alt" style="color: #160F5B;"></i></label>
                <br>
                <textarea name="desc" class="form-control" rows="10" cols="50" required='true'
                    placeholder="Descripción"></textarea>
            </div>
            <div class="form-group">
                <label>Precio Compra  <i class="fas fa-dollar-sign" style="color: #160F5B;"></i></label>
                <div class="main row">
                    <div class="col-md-8">
                        <input type="number" step="any" class="form-control" name="precio_compra" id="precio_compra"
                            placeholder="Precio" required='true'>
                    </div>
                    <div class="com-md-4">
                        <button type="button" class="btn btn-success" onclick=calculo_precioVenta()>Calcular precio
                            venta</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Precio Venta <i class="fas fa-dollar-sign" style="color: #160F5B;"></i></label>
                <input class="form-control" name="precio_venta" id='precio_venta'>
            </div>
            <div class="form-group">
                <label>Cantidad  <i class="fas fa-list-ol" style="color: #160F5B;"></i></label>
                <input type="number" class="form-control" name="cant" id="cantidad" placeholder="Cantidad"
                    required='true'>
            </div>
            <div class="form-group">
                <label> Subir una imagen <i class="fas fa-image" style="color: #160F5B;"></i></label>
                <br>
                <input type="file" class="form-control" name="image" accept="image/png, .jpeg, .jpg, image/gif"
                    required='true'>
            </div>
            <hr>
            <center>

                <button type="submit" class="btn btn-primary"><a href="menu_gestionpd">
                        <i class="fas fa-arrow-left"></i>       Regresar</button></a>

                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-check-circle"></i>     Ingresar producto</button>
            </center>
            <br><br>

        </form>
    </div>

    <div class="col-md-3"></div>
</div>


{{> footer}}