{{> header}}
{{> navbar_cs}}
<div id='separacion'></div>
<div id='barra'>
<h2><i class="fas fa-pencil-alt"></i>&nbsp CREAR PRODUCTO</h2>
</div>
<div class="container">
<div class="main row">
    <div class="col-md-6">
        <div id="espaciado_pag">
        </div>
        <h1>Tabla</h1>
        <div id="espaciado_pag">
        </div>
        <center>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i>&nbsp Regresar</button></center>
    </div>

</div>
</div>
{{> footer}}