{{> header}}
{{> navbar_cs}}
<div id='separacion'></div>
<div id='barra'>
    <h2><i class="fas fa-user-circle"></i>&nbsp BIENVENIDO</h2>
</div>
<div class="container">
    <div class="main row">
        <div class="col-md-6">
            <div id="espaciado_boton"></div>
            <form action="/crear_pd">
                <button type="submit" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>&nbsp Crear
                    productos</button>
            </form>
            <div id="espaciado_boton"></div>
            <form action="consultar_pd_admin">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i>&nbsp Consultar
                    productos</button>
            </form>
            <div id="espaciado_boton"></div>
            <form action="/eliminar_pd">
                <button type="submit" class="btn btn-primary"><i class="fas fa-times"></i>&nbsp Eliminar
                    productos</button>
            </form>
            <div id="espaciado_boton"></div>
            <form action="/modificar_pd">
                <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i>&nbsp Modificar
                    productos</button>
            </form>
        </div>
        <div class="col-md-6">
            <div id="espaciado_boton"></div>
            <img src="/images/propaganda/regreso.jpg" width='100%' height="300">
        </div>
    </div>
    <div id="espaciado_pag"></div>
</div>
{{> footer}}