{{> header}}
{{> navbar_cs}}
<div id='separacion'></div>
<div id='barra'>
<h2><i class="fas fa-user-circle"></i>&nbsp BIENVENIDO</h2>
</div>
<div class="container">
<div class="main row">
    <div class="col-md-6">
        <div id="espaciado_pag">
        </div>
        <button type="button" id="boton" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>&nbsp Productos</button>
        <div id="espaciado_boton"></div>
        <button type="button" id="boton" class="btn btn-primary"><i class="fas fa-envelope-open-text"></i> &nbsp Ver mis facturas</button>    
    </div>
    
    <div class="col-md-6">
        <div id="espaciado_boton"></div>
            <video src="videos/video.mp4" poster="images/captura.PNG" width='100%' height="300" autoplay controls></video>
        <div id="espaciado_boton"></div>
        <br>
    </div>
</div>
</div>
{{> footer}}