{{> header}}
{{> navbar}}
{{> mensaje}}
<div id='separacion'></div>
<div id='barra'>
    <h2><i class="fas fa-user-circle"></i>&nbsp BIENVENIDO {{ mayus usuario.nombre}} </h2>
</div>
<div class="container">
    <div class="main row">
        <div class="col-md-6">
            <div id="espaciado_pag"></div>
            <form action="/menu_gestionus">
                <button type="submit" class="btn btn-primary"><i class="fas fa-user-friends"></i>&nbsp Gestión
                    usuarios</button>
            </form>
            <div id="espaciado_boton"></div>
            <form action="/menu_gestionpd">
                <button type="submit" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>&nbsp Gestión
                    productos</button>
            </form>
            <div id="espaciado_pag"></div>
        </div>

        <div class="col-md-6">
            <div id="espaciado_boton"></div>
            <video src="videos/video.mp4" poster="images/captura.PNG" width='100%' height="300" autoplay
                controls></video>
            <div id="espaciado_boton"></div>
            <br>
        </div>
    </div>
</div>
{{> footer}}