{{> header}}
{{> navbar_cs}}
<div id='separacion'></div>
<div id='barra'>
<h2><i class="fas fa-user-edit"></i>&nbsp MODIFICAR USUARIOS</h2>
</div>
<div class="container">
<div class="main row">
    <div class="col-md-6">
        <div id="espaciado_pag">
        </div>
        <h1>Tabla</h1>
        <div id="espaciado_pag">
        </div>
    </div>

</div>
</div>
{{> footer}}