{{> header}}
{{> navbar_cs}}
<div id='separacion'></div>
<div id="barra">Almacenes JR. Distribuidor autorizado</div>
<div id="barra_promociones">
    <div class="main row">
        <div class="col-md-6">
            Promociones
        </div>
        <div class="col-md-6">
            {{> carousel}}
        </div>
    </div>
</div>
<div id="barra_productos">
    <div class="main row">
        <div class="col-md-3">
            Colchones
        </div>
        <div class="col-md-3">
            Almohadas
        </div>
        <div class="col-md-3">
            Sofás Camas
        </div>
        <div class="col-md-3">
            complementos
        </div>
    </div>
</div>
<div id="productos">
    Aqui van los productos
</div>

{{> footer}}