footer {
    position: relative;
    background-color: black;
    color: white;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding: 5px;
}

h2 {
    text-align: center;
}

#resp {
    text-align: center;
}

#encabezadoT {
    background-color: #160F5B;
    color: white;
    text-align: center;
}

table {
    border: 20px;
    border-color: #160F5B;
    border-width: 4cm;
}

#barra {
    background-color: #160F5B;
    padding: 10px;
    color: white;
    text-align: center;
}

#barra_promociones {
    background-color: #736F6E;
    padding: 10px;
    color: white;
    text-align: center;
}

#barra_productos {
    background-color: #C23218;
    padding: 10px;
    color: white;
    text-align: center;
}

#espaciado_pag {
    padding: 50px;
}

#espaciado_boton {
    padding: 30px;
}

#separacion {
    padding: 33px;
}

#boton {
    width: 10000;
    height: 200;
}

#facturacion {
    width: 200px;
}

.p {
    font-size: 100px;
}

#datos {
    font-size: large;
}

#descuento {
    height: 70px;
}

#celda {
    width: 200px;
}

#datos_td {
    text-align: right;
}

#radio {
    height: 50px;
}

#nombre_prod {
    background-color: #4C9DC2;
    color: white;
    padding: 5px;
}