footer {
    position: relative;
    background-color: black;
    color: white;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding: 5px;
}

h2 {
    text-align: center;
}

#resp {
    text-align: center;
}

#encabezadoT {
    background-color: #160F5B;
    color: white;
    text-align: center;
}

table {
    border: 20px;
    border-color: #160F5B;
    border-width: 4cm;
}

#barra {
    background-color: #4C9DC2;
    padding: 10px;
    color: white;
    text-align: center;
}

#seleccion_pd {
    background-color: #4C9DC2;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: x-large;
}

#btn_añadir {
    width: 150px;
    color: white;
    font-size: medium;
}

#barra_promociones {
    background-color: #736F6E;
    padding: 10px;
    color: white;
    text-align: center;
}

#barra_productos {
    background-color: #C23218;
    padding: 10px;
    color: white;
    text-align: center;
}

#espaciado_pag {
    padding: 50px;
}

#espaciado_boton {
    padding: 30px;
}

#separacion {
    padding: 33px;
}

#boton {
    width: 10000;
    height: 200;
}

#facturacion {
    width: 200px;
}

.p {
    font-size: 100px;
}

#datos {
    font-size: large;
}

#descuento {
    height: 70px;
}

#celda {
    width: 200px;
}

#datos_td {
    text-align: right;
}

#radio {
    height: 50px;
}

#nombre_prod {
    background-color: #4C9DC2;
    color: white;
    padding: 5px;
}

#nombre_prod_selec {
    background-color: #F7EE68;
    color: black;
    padding: 5px;
    font-style: inherit;
}

#promocion {
    padding: 40px;
}

a {
    color: white;
}

a:hover {
    color: black
}

#icono_mod {
    color: #46D30D;
}

#icono_mod:hover {
    color: #160F5B;
}

th {
    background-color: #8D8D95;
    color: white;
    text-align: center;
}

#columna_imagen {
    text-align: center;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}